*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    background-color: blue;
    color: white;
   max-width: 400px;
   margin: 20px auto;
   border: 1px solid black;
}
h4{
    text-align: center;
    margin: 20px;
}
.input-area{
   text-align: center;
}
#inputBox{
    border-radius: 5px; 
    border: 1px solid black;
}

#inputBox:focus{
    border: 1.5px solid red;
    outline: none;
}
.do{
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    color: red;
    transition: .5s;
    cursor: pointer;
    width: 80%;
    overflow: hidden;
}
.cut{
    opacity: 50%;
    text-decoration: line-through;
}
.output-area{
    text-align: center;
}
@media screen and (min-width: 678px) {
    .do{
        width: 60%;
    }
}
@media screen and (min-width: 900px) {
    .do{
        width: 40%;
    }
}